<ion-header>
  <ion-toolbar color="skyblue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cambiar Password</ion-title>


    <ion-button color="danger" [routerLink]="['/perfil']" slot="end">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-col>
    <div class="ion-text-end">
      <ion-text color="danger">*Campos Obligatorios</ion-text>
    </div>
  </ion-col>


  <ion-text color="dark">Contraseña:</ion-text><ion-text color="danger">*</ion-text>
  <ion-input type="text" placeholder="Contraseña"  color="dark"></ion-input>


  <ion-text color="dark">Nueva Contraseña:</ion-text><ion-text color="danger">*</ion-text>
  <ion-input type="text" placeholder="Nueva Contraseña"  color="dark"></ion-input>


  <ion-button color="skyblue"> <ion-icon name="save"></ion-icon>Grabar</ion-button>

</ion-content>
