<ion-header>
  <ion-toolbar color="skyblue">
    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Case Tracking
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
    <img src="assets/team.jpg">
    <ion-card-header>
      <ion-card-subtitle>Equipos Profesionales</ion-card-subtitle>
      <ion-card-title>¡Administralos ahora!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ¿Alguna vez soñaste una forma facil de administrar los jugadores de tu equipo?.
      <div>
      Ya sea un equipo de tu cuadra o un equipo Profesional,
      ¡ahora puedes hacerlo!.
      </div>
      Solamente has click en el boton o en el menu desplegable.
    </ion-card-content>
  </ion-card>



<ion-button color="skyblue" [routerLink]="['/documentos']" expand="block"><ion-icon name="star"></ion-icon>¡Administra tus jugadores!<ion-icon name="star"></ion-icon></ion-button>


</ion-content>
